3   Array aggregation function using NUMPY

In [1]:
import numpy as np

array = np.array(np.arange(10))

print("Created array is ",array)
print("Sum of the numbers in the array is ",np.sum(array))
print("Product of the numbers in the array is ",np.prod(array))
print("Average of the numbers in the array is ",np.mean(array))
print("Standard Deviation of the numbers in the array is ",np.std(array))
print("Minimum value in the array is ", np.min(array))
print("Maximum value in the array is ", np.max(array))
print("Peak to peak values in the array is ",np.ptp(array))

Created array is  [0 1 2 3 4 5 6 7 8 9]
Sum of the numbers in the array is  45
Product of the numbers in the array is  0
Average of the numbers in the array is  4.5
Standard Deviation of the numbers in the array is  2.8722813232690143
Minimum value in the array is  0
Maximum value in the array is  9
Peak to peak values in the array is  9

4   Vectorized operations using NUMPY

In [2]:
import numpy as np
import time

arr_2 = np.array(np.random.randint(1,20,size=202112))
arr_1 = np.array(np.random.randint(1,20,size=202112))

start = time.time()
total_sum = np.array([])
for i in range(len(arr_1)):
    sum = (arr_1[i] + arr_2[i])
print("Total sum of the arrays without vectors is ",total_sum)
end = time.time()
print("Time taken for the calculation without the vectors is ",end-start,"seconds")


start = time.time()
total_sum = 0
total_sum = arr_1 + arr_2
print("Total sum of the arrays without vectors is ", total_sum)
print("Time taken for the calcultaion using the vectors is ",end-start)

Total sum of the arrays without vectors is  []
Time taken for the calculation without the vectors is  0.04045534133911133 seconds
Total sum of the arrays without vectors is  [19 23 23 ... 14  4 29]
Time taken for the calcultaion using the vectors is  0.0

5   Use Map, Filter, Reduce and Lambda function on list using numpy

In [3]:
import numpy as np
from functools import reduce

a = np.array(np.arange(10))
print("Original array is ",a)

print("\nMapping the array by adding every number with 2")
print(list(map(lambda i : i + 2,a)))

print("\nFiltering the array which is lesser than 5")
print(list(filter(lambda i : i<5,a)))

print("\nReducing the array by adding them all")
print(reduce(lambda a,b: a+b,a))

Original array is  [0 1 2 3 4 5 6 7 8 9]

Mapping the array by adding every number with 2
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

Filtering the array which is lesser than 5
[0, 1, 2, 3, 4]

Reducing the array by adding them all
45

6 Using aggregation functions on a DataFrame

In [8]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
                'Maths' : [65,34,69],
                'Science' : [98,65,48],
                "Social" : [89,78,98]
})

print("Created dataframe is ",df)
print("\n")
print(df.agg(['sum','count','min','max','mean',"var",'std']))

Created dataframe is     Maths  Science  Social
0     65       98      89
1     34       65      78
2     69       48      98


            Maths     Science      Social
sum    168.000000  211.000000  265.000000
count    3.000000    3.000000    3.000000
min     34.000000   48.000000   78.000000
max     69.000000   98.000000   98.000000
mean    56.000000   70.333333   88.333333
var    367.000000  646.333333  100.333333
std     19.157244   25.423087   10.016653

7 Grouping using Pandas on a DataFrame

In [16]:
import pandas as pd

df = pd.DataFrame({
                "Course" : ['C','C','Python','Java'],
                "Fees" : [1000,3500,6800,9400],
                "Duration" : [12,15,61,38]
})

print("The created dataframe is \n",df)

# df.groupby('Course').agg({'Fees':'sum',"Duration" : 'min'})
# df.groupby('Course').agg(['sum','min'])
df.groupby('Course').agg('sum')

The created dataframe is
    Course  Fees  Duration
0       C  1000        12
1       C  3500        15
2  Python  6800        61
3    Java  9400        38

        Fees  Duration
Course
C       4500        27
Java    9400        38
Python  6800        61

8 Pivot and melt functions using DataFrame

In [ ]:
import pandas as pd